html
    head
        link(rel='stylesheet' href='/index.css')
    body
        div.container
            header
                h1 #{placeholder1}
            maincontent
                h1 #{placeholder2}
            sidebar
                h1 #{placeholder1}
            twin1
                h1 #{placeholder2}
            twin2
                h1 #{placeholder1}
            footer
                h1 #{palceholder2}